@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Bebas+Neue&family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: Archivo, Verdana, sans-serif;
    background-color: white;
}

header {
    background-color: black;
    width: 100%;
    height: auto;
    min-height: 6rem;
    color: #ffffff;

    font-size: xx-large;
}

header h1 {
    font-size: inherit;
}

header div {
    display: inline;
    float: left;
}

nav {
    float: right;
    font-family: Archivo, sans-serif;
    font-size: medium;
    display: inline;
    text-align: right;
}

nav a,
footer a {
    text-decoration: none;
    color: inherit;
}

nav a:hover,
footer a:hover {
    color: #00E8FF;
}


nav li {
    float: left;
    padding: 30px 10px 20px;
    list-style-type: none;
}

footer {
    text-align: center;
}

footer li {
    display: inline;
    margin: 340px 60px 20px;
    list-style-type: none;
    font-size: 200%;
}

#heading {
    font-family: Bebas Neue, sans-serif;
    font-size: 85px;

}

#heading a,
#message-box-3 a {
    text-decoration: none;
    color: inherit;
}

#hero-container {
    width: 100%;
    height: 600px;
    background-image: url(../images/wide-ice.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%, center;

}

#message-box-1 {
    float: left;
    left: 20%;
    top: 100px;
}

#message-box-2 {
    float: left;
    left: 40%;
    top: 200px;
}

#message-box-3 {
    float: left;
    left: 60%;
    top: 300px;
}

.hero-message {
    /*background-color: rgba(250, 100, 150, 0.4);*/
    position: absolute;
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    text-align: center;
    /*animates hero image text */
    animation-name: message-fade;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#signup-hero {
    width: 100%;
    height: 800px;
    background-image: url(../images/pexels-pixabay-line.jpg);

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%, center;
}

.signup-form {
    margin: 10% 30% 10%;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 6px;
}

label {

    padding: 0px 50px 10px;
    float: left;
    margin: 10px 30px 10px 10px;

}

.form-text-input {

    float: right;
    width: 400px;
    height: 30px;
    margin: 10px 10px 10px 30px;
    border-radius: 3px;
}

.signup-button {
    float: right;
    margin: 200px auto 10px;
    position: relative;
}

.invisible-break {
    clear: both;
}

.break {
    background-color: black;
    width: 100%;
    height: 100%;
    color: #F0C801;
    font-family: Fjalla One, Verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-kerning: none;
    padding: 10px 0px 10px;
}

.break h1 {
    margin: auto;
}

.fact-section {
    /*height: max-content;*/
}

.fact-container {
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1%;
    padding: 1%;
    border-radius: 20px;
    font-size: 1.2rem;
}

.fact-container li {
    /*list-style-type: none;*/
    margin: 0.8rem 0rem 0.8rem 1rem;
}

.fact-container h2 {
    margin-bottom: 1rem;
}

.image-container {
    /*display: block;
    margin: auto;*/
    background-color: rgba(240, 240, 240, 0);
}

.fact-container img,
figcaption {
    display: block;
    max-width: 90%;
    max-height: inherit;
    margin: auto auto auto auto;
    font-size: small;
    border-radius: 20px;

}

.fact-container-left {
    display: inline-block;

    float: left;
}

.fact-container-wide {
    width: 60%;
}

.fact-container-narrow {
    width: 30%;
}

.fact-container-right {
    display: inline-block;

    float: right;
}

#fixed-image {
    background-color: black;
    background-image: url(../images/emperor-family-2.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    clear: both;

}

#fixed-image p {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    text-align: center;
    color: white;
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    color: #ffffff;
    clear: both;
}


/*  timings for hero image text */
@keyframes message-fade {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    20% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

/*
######################################################################################################################################
######################################################################################################################################
###################################################################################################################################### 
######################################################################################################################################

*/
/*media queries*/

/* phones*/
@media screen and (max-width: 400px) {
    nav {
        float: none;
        font-family: Archivo, sans-serif;
        font-size: medium;

    }

    footer {
        text-align: center;
    }

    footer li {
        display: inline;
        margin: 50px 50px 20px;
        list-style-type: none;
        font-size: 150%;
    }

    nav li {
        float: left;
        padding: 00px 20px 10px;
        list-style-type: none;
    }

    #hero-container {
        height: 200px;
    }

    header {
        height: 100px;
    }

    #heading {
        margin: auto;
        font-size: 40px;

    }

    #message-box-1 {

        top: 100px;
    }

    #message-box-2 {

        top: 200px;
    }

    #message-box-3 {

        top: 300px;
    }

    .hero-message {
        float: none;
        left: 0px;
        text-align: center;
        font-size: 10px;
    }

    .content {
        display: block;
        width: 100%;
        height: 500px;
    }
}

/* landscape phones*/
@media screen and (max-width: 600px) {
    nav {
        float: none;
        font-family: Archivo, sans-serif;
        font-size: medium;

    }



    nav li {
        float: left;
        padding: 00px 20px 10px;
        list-style-type: none;
    }

    #hero-container {
        height: 200px;
    }

    header {
        height: 100px;
    }

    #heading {

        font-size: 55px;

    }

    #message-box-1 {
        float: left;
        left: 10%;
        top: 100px;
    }

    #message-box-2 {
        float: left;
        left: 10%;
        top: 200px;
    }

    #message-box-3 {
        float: left;
        left: 10%;
        top: 300px;
    }

    .hero-message {
        float: none;
        left: 0px;
        text-align: center;
        font-size: 10px;
    }


}

/* portrait tablets*/
@media screen and (max-width: 768px) {
    nav {
        float: right;
        font-family: Archivo, sans-serif;
        font-size: medium;

    }

    nav li {
        float: left;
        padding: 00px 5px 10px;
        list-style-type: none;
    }

    #hero-container {}

    #message-box-1 {
        float: left;
        left: 10%;
        top: 100px;
    }

    #message-box-2 {
        float: left;
        left: 10%;
        top: 200px;
    }

    #message-box-3 {
        float: left;
        left: 10%;
        top: 300px;
    }

    .hero-message {
        font-size: 40px;
        text-align: center;
    }


}

/* landscape tablet*/
@media screen and (max-width: 992px) {
    #hero-container {
        width: 100%;
        height: 500px;
        background-image: url(../images/icy-huddle.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%, bottom;
    }

    .hero-message {
        font-size: 50px;
    }

}

/*Laptop*/
@media screen and (max-width: 1200px) {
    #hero-container {
        width: 100%;
        height: 500px;
        background-image: url(../images/icy-huddle.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%, bottom;
    }


}