@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Bebas+Neue&family=Fjalla+One&display=swap');

body {
    font-family: Archivo, Verdana, sans-serif;
}

header {
    background-color: black;
    width: 100%;
    height: 100px;
    color: #ffffff;

    font-size: xx-large;
}

nav {
    float: right;
    font-family: Archivo, sans-serif;
    font-size: medium;

}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #00E8FF;
}


nav li {
    float: left;
    padding: 20px 10px 20px;
    list-style-type: none;
}

#heading {
    font-family: Bebas Neue, sans-serif;
    font-size: 85px;

}

#heading a {
    text-decoration: none;
    color: inherit;
}

#hero-image {
    width: 100%;
    height: 600px;
    background-image: url(../images/pexels-pixabay-ice.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%, center;

}

#message-box-1 {
    float: left;
    left: 20%;
    top: 100px;
}

#message-box-2 {
    float: left;
    left: 40%;
    top: 200px;
}

#message-box-3 {
    float: left;
    left: 60%;
    top: 300px;
}

.hero-message {
    /*background-color: rgba(250, 100, 150, 0.4);*/
    position: absolute;
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    text-align: center;
    /*animates hero image zoom */
    animation-name: message-fade;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/*  creates level of zoom for hero image*/
@keyframes message-fade {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    20% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

.break {
    background-color: black;
    width: 100%;
    height: 100px;
    color: #ffffff;
    font-family: Fjalla One, Verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-kerning: none;
}

.break h1 {
    margin: auto;
}

/*media queries*/
@media screen and (max-width: 1200px) {
    #hero-image {
        width: 100%;
        height: 500px;
        background-image: url(../images/pexels-pixabay-huddle.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%, bottom;
    }


}