@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Bebas+Neue&family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

a {
    text-decoration: underline;
    color: inherit;
}

a:hover {
    color: #00E8FF;
}

body {
    font-family: Archivo, Verdana, sans-serif;
    background-color: white;
}

header {
    background-color: black;
    width: 100%;
    height: 100%;
    min-height: 7rem;
    color: #ffffff;

    font-size: xx-large;
}

header h1 {
    font-size: inherit;
}

header div {
    display: inline;
    float: left;
}

#heading {
    font-family: Bebas Neue, sans-serif;
    font-size: 85px;
    /*background-color: rgba(250, 150, 100, 0.4);*/
}

.nav-container {
    /*background-color: rgba(250, 100, 150, 0.4);*/
    margin: auto;
    float: right;
}

nav {


    font-family: Archivo, sans-serif;
    font-size: medium;
    display: inline;

}

nav a,
footer a {
    text-decoration: none;
    color: inherit;
}

nav a:hover,
footer a:hover {
    color: #00E8FF;
}


nav li {
    float: left;
    padding: 30px 10px 20px;
    list-style-type: none;
}

footer {
    text-align: center;
}

footer li {
    display: inline;
    margin: 340px 60px 20px;
    list-style-type: none;
    font-size: 200%;
}



#heading a {
    text-decoration: none;
    color: inherit;
}

#message-box-3 a {
    text-decoration: underline;
    color: inherit;

}

#message-box-3 a:hover {
    text-decoration: none;
    color: #00E8FF;
}

#hero-container {
    width: 100%;
    height: 600px;
    background-image: url(../images/wide-ice.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 50%, center;

}

#message-box-1 {

    text-align: left;
}

#message-box-2 {
    text-align: center;

}

#message-box-3 {
    text-align: right;

}

.hero-message {
    /*background-color: rgba(250, 100, 150, 0.4);*/
    display: block;
    margin: 0 1rem 1rem 1rem;

    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    font-size: 3rem;

    /*animates hero image text */
    animation-name: message-fade;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

#signup-hero {
    clear: left;
    width: 100%;
    height: 1100px;
    background-image: url(../images/king-line.jpg);

    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%, center;
}

.signup-form {
    /*display: flex;*/
    flex-direction: column;
    clear: left;
    margin: 5% 30% 10%;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    border-radius: 6px;
    min-width: 50%;
}


label {
    display: inline-block;
    padding: 0px 10px 10px;
    /*float: left;*/
    margin: 10px 10px 10px 10px;
    width: 80%;
}

.signup-form h3 {
    clear: both;
}


.form-text-input {
    display: inline;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 5px;
    float: right;
    width: 95%;
    height: 2rem;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
}

.form-checkbox-input {
    display: inline;
    float: right;
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 1px;
    /*
    position: relative;
    left: 85%;
    bottom: 40px;*/
}

.form-radio-input {
    display: inline;
    float: right;
    width: 25px;
    height: 25px;
    margin: 10px;
    border-radius: 1px;
    /*
    position: relative;
    left: 85%;
    bottom: 40px;
    */
}

.signup-button {

    margin: 0px auto 10px;
    position: relative;
    width: 200px;
    height: 80px;
    border-radius: 5px;
}

.invisible-break {
    clear: both;
}

.break {
    background-color: black;
    width: 100%;
    height: 100%;
    color: #F0C801;
    font-family: Fjalla One, Verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
    font-kerning: none;
    padding: 10px 0px 10px;
}

.break h2 {
    margin: auto;
}

/*
.fact-section {
    height: max-content;
}
*/
.fact-container {
    background-color: rgba(240, 240, 240, 0.8);
    margin: 1%;
    padding: 1%;
    border-radius: 20px;
    font-size: 1.2rem;
}

.fact-container li {
    /*list-style-type: none;*/
    margin: 0.8rem 0rem 0.8rem 1rem;
}

.fact-container h2 {
    margin-bottom: 1rem;
}

.image-container {
    /*display: block;
    margin: auto;*/
    background-color: rgba(240, 240, 240, 0);
}

.fact-container img,
figcaption {
    display: block;
    max-width: 90%;
    max-height: inherit;
    margin: auto auto auto auto;
    font-size: medium;
    text-align: center;
    border-radius: 20px;

}


.fact-container-left {
    /*display: inline-block;*/

    float: left;
}

.fact-container-wide {
    width: 45%;
}

.fact-container-narrow {
    width: 45%;
}

.fact-container-right {
    /*display: inline-block;*/

    float: right;
}

.fact-container p {
    margin-bottom: 1rem;
}



#icon-list li {
    list-style-type: none;
    margin: 0.8rem 0rem 0.8rem 0rem;
}

.bullet-ice:before {
    font-family: 'FontAwesome';
    content: '\f7ad';
    margin-right: 1rem;
}

.bullet-recycle:before {
    font-family: 'FontAwesome';
    content: '\f1b8';
    margin-right: 1rem;
}

.bullet-factory:before {
    font-family: 'FontAwesome';
    content: '\f275';
    margin-right: 1rem;
}

.bullet-danger:before {
    font-family: 'FontAwesome';
    content: '\f071';
    margin-right: 1rem;
}

.bullet-snowflake:before {
    font-family: 'FontAwesome';
    content: '\f2dc';
    margin-right: 1rem;
}

#fixed-image {

    background-image: url(../images/emperor-family-3.webp);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    clear: both;

}

#fixed-image h2 {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    font-size: 65px;
    text-align: center;
    color: white;
}

footer {
    background-color: black;
    width: 100%;
    height: 100px;
    color: #ffffff;
    clear: both;
}

/* Gallery section*/
#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos>img {
    width: 100%;
    transition: transform .2s;
}

#photos>img:hover {
    transform: scale(1.1);
}

/*  timings for hero image text */
@keyframes message-fade {
    0% {
        color: rgba(0, 0, 0, 0);
    }

    20% {
        color: rgba(0, 0, 0, 0);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

/*
######################################################################################################################################
######################################################################################################################################
###################################################################################################################################### 
######################################################################################################################################

*/
/*media queries*/

/*Laptop*/
@media screen and (max-width: 1920px) {
    #hero-container {
        width: 100%;
        height: 600px;
        background-image: url(../images/wide-ice.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%, bottom;
    }

    .fact-container-wide {
        width: 55%;
    }

    .fact-container-narrow {
        width: 35%;
    }
}

/*Laptop*/
@media screen and (max-width: 1200px) {
    #heading {
        font-size: 250%;
        /*background-color: rgba(250, 250, 100, 0.4);*/
    }

    #hero-container {
        width: 100%;
        height: 500px;
        background-image: url(../images/huddle-ice-emp.webp);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%, bottom;
    }

    .fact-container-wide {
        width: 55%;
    }

    .fact-container-narrow {
        width: 35%;
    }

}

/* small screens, laptops*/
@media screen and (max-width: 1024px) {
    header div {
        display: block;

    }

    #heading {
        font-size: 250%;
        /*background-color: rgba(150, 250, 200, 0.4);*/
    }

    .nav-container {
        /*background-color: rgba(250, 100, 150, 0.4);*/
        margin: auto;
        float: right;

    }

    .break h2 {
        margin: auto;
        font-size: 1.2rem;
    }

    .fact-container-left {
        display: block;

        float: left;
    }

    .fact-container-wide {
        width: 95%;
    }

    .fact-container-narrow {
        width: 95%;
    }

    .fact-container-right {
        display: block;

        float: left;
    }

    .fact-container p {
        margin-bottom: 1rem;
    }

    #photos {
        column-count: 3;
    }

}

/* landscape phones, tablets*/
@media screen and (max-width: 768px) {

    header div {
        display: block;

    }

    #heading {
        font-size: 180%;
        /*background-color: rgba(150, 150, 250, 0.4);*/
    }

    .nav-container {
        display: block;
        /*background-color: rgba(250, 100, 150, 0.4);*/
        margin: auto;
        float: right;


    }

    nav li {
        float: left;
        padding: 10px 10px 10px;

    }

    #hero-container {

        height: 250px;
        background-image: url(../images/huddle-ice-emp.webp);

    }

    #message-box-1 {

        text-align: left;
    }

    #message-box-2 {
        text-align: center;

    }

    #message-box-3 {
        text-align: right;

    }

    .hero-message {
        /*background-color: rgba(250, 100, 150, 0.4);*/
        display: block;
        margin: 0 1rem 1rem 1rem;


        font-size: 2rem;


    }

    .break h2 {
        margin: auto;
        font-size: 1rem;
    }

    .fact-container-left {
        display: block;

        float: left;
    }

    .fact-container-wide {
        width: 96%;
    }

    .fact-container-narrow {
        width: 96%;
    }

    .fact-container-right {
        display: block;

        float: left;
    }

    .fact-container p {
        margin-bottom: 1rem;
    }

    #photos {
        column-count: 3;
    }
}

/* phones*/
@media screen and (max-width: 480px) {

    header div {
        display: block;

    }

    #heading {

        font-size: 170%;
        /*background-color: rgba(250, 150, 100, 0.4);*/
    }

    .nav-container {
        /*background-color: rgba(250, 100, 150, 0.4);*/
        margin: auto;
        float: left;
    }

    nav li {
        float: left;
        padding: 10px 10px 10px;
        list-style-type: none;
    }

    #hero-container {

        height: 250px;
        background-image: url(../images/huddle-ice-emp.webp);

    }

    .hero-message {
        /*background-color: rgba(250, 100, 150, 0.4);*/
        display: block;
        margin: 0 0.5rem 1rem 0.5rem;



        font-size: 1.4rem;


    }


    .break h2 {
        margin: auto;
        font-size: 0.8rem;
    }

    footer {
        text-align: center;
    }

    footer li {
        display: inline;
        margin: 50px 50px 20px;
        list-style-type: none;
        font-size: 150%;
    }

    .content {
        display: block;
        width: 100%;
        height: 500px;
    }

    .fact-container-left {
        display: block;

        float: left;
    }

    .fact-container-wide {
        width: 97%;
        margin: auto;
    }

    .fact-container-narrow {
        width: 97%;
    }

    .fact-container-right {
        display: block;

        float: left;
    }

    #photos {
        column-count: 2;
    }


}

/* small phones*/
@media screen and (max-width: 320px) {

    header div {
        display: block;

    }

    #heading {

        font-size: 150%;
        /*background-color: rgba(250, 150, 100, 0.4);*/
    }

    .nav-container {
        /*background-color: rgba(250, 100, 150, 0.4);*/
        margin: auto;
        float: left;
    }

    nav li {
        float: left;
        padding: 10px 10px 10px;
        list-style-type: none;
    }

    #hero-container {

        height: 200px;
        background-image: url(../images/huddle-ice-emp.webp);

    }

    .hero-message {
        /*background-color: rgba(250, 100, 150, 0.4);*/
        display: block;
        margin: 0 0.5rem 1rem 0.5rem;



        font-size: 1.2rem;


    }


    .break h2 {
        margin: auto;
        font-size: 0.8rem;
    }

    footer {
        text-align: center;
    }

    footer li {
        display: inline;
        margin: 50px 50px 20px;
        list-style-type: none;
        font-size: 150%;
    }

    .content {
        display: block;
        width: 100%;
        height: 500px;
    }

    .fact-container-left {
        display: block;

        float: left;
    }

    .fact-container-wide {
        width: 97%;
        margin: auto;
    }

    .fact-container-narrow {
        width: 97%;
    }

    .fact-container-right {
        display: block;

        float: left;
    }

    #photos {
        column-count: 1;
    }


}